// animation de fondu: apparition des élements de la page


.story, #studio, #colophon{
    animation: fadeUp 2s;
}
//*** fin fade in ****
//animation des fleurs en rotation
.story h2::after, 
.story__article::after, 
#studio h2::before, #studio h2::after, 
.site-footer::after,.site-footer::before, .site-footer ul::after{
    animation: rotateFlower 23s linear infinite;
}    
.story__article::after{
    transform-origin: 50% 50%;
}
.story h2::after{
    transform-origin: 77px 77px;
}
#studio h2::before{
    transform-origin: 101px 99px ;
}
.site-footer::after{
    transform-origin: 86px 84px;
}
#studio h2::after{
    transform-origin: 54px 54px;
}
//*** fin animation rotation ***
// Animation titres au scroll
.fadeTitle [class*="hidden-"] { 
    opacity: 0;
    transform: translateY(30px);
} 
[class*="hidden-"] { 
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}
.hidden-2 {
    transition-delay: .2s;
}
//*** fin animation titre ***
