@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(15%);
        animation-timing-function: ease-in-out;
    }
    to{
        opacity: 1;
        transform: translateY(0);
        animation-timing-function: ease-in-out;
    }
}

@keyframes fadeDown{
    from{
        opacity: 0;
        transform: translateY(-10%);
        animation-timing-function: ease-in-out;
    }
    to{
        opacity: 1;
        transform: translateY(0);
        animation-timing-function: ease-in-out;
    }
}

@keyframes rotateFlower {
    100%{
        transform: rotate(1turn);
    }
}

@keyframes float {
    0%{
        
        transform: translate3d(0px, 0px, 0px);
    }
    12%{
        transform: translate3d(-8px, 10px, 5px);
    }
    25%{
        
        transform: translate3d(6px, -8px, 0px);
    }
    37%{
        
        transform: translate3d(10px, 10px, -8px);
        transform: translate3d(0px, 0px, 0px);
    }
    62%{
        
        transform: translate3d(-10px, -10px, 5px);
    }
    75%{
        
        transform: translate3d(0px, -10px, 0px);
    }
    87%{
        
        transform: translate3d(-8px, 10px, 8px);
    }
    100%{
        
        transform: translate3d(0px, 0px, 0px);
    }
    
}