
// bannière video avec annimation
.banner{
    
    background-image: none;
}
#bg-video{
    z-index: -2;
    position: absolute;
    
    animation: fadeDown 2s;
}

#site-logo{
    animation: fadeUp 2s ease-in-out 0s 1 forwards , float 9s cubic-bezier(.5,.12,.2,0.5) 2s infinite;
    position: sticky;
    // z-index: -1;
}
