
// bannière video avec annimation
.banner{
    position: relative;
    // background-image: none;
    object-fit: contain;
    margin-bottom: 10vh;
}
#bg-video{
    z-index: 0;
    position: absolute;
    
    animation: fadeDown 2s;
}

#site-logo{
    animation: fadeUp 2s ease-in-out 0s 1 forwards , float 9s cubic-bezier(.5,.12,.2,0.5) 2s infinite;
    position: sticky;
    // z-index: -1;
}

@media screen  and (max-width: $breakpoint__mobile){
    .banner{
        
        min-height: 355px;
        background-repeat: no-repeat;
        & video{
            display: none;
        }
    }
} 
@media screen  and (min-width: $breakpoint__mobile){
    .banner{
        background-image: none;
    }
}