@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(15%);
    animation-timing-function: ease-in-out;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
    animation-timing-function: ease-in-out;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}
@keyframes rotateFlower {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes float {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  12% {
    transform: translate3d(-8px, 10px, 5px);
  }
  25% {
    transform: translate3d(6px, -8px, 0px);
  }
  37% {
    transform: translate3d(10px, 10px, -8px);
    transform: translate3d(0px, 0px, 0px);
  }
  62% {
    transform: translate3d(-10px, -10px, 5px);
  }
  75% {
    transform: translate3d(0px, -10px, 0px);
  }
  87% {
    transform: translate3d(-8px, 10px, 8px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
.banner {
  background-image: none;
}

#bg-video {
  z-index: -2;
  position: absolute;
  animation: fadeDown 2s;
}

#site-logo {
  animation: fadeUp 2s ease-in-out 0s 1 forwards, float 9s cubic-bezier(0.5, 0.12, 0.2, 0.5) 2s infinite;
  position: sticky;
}

#characters {
  display: flex;
  flex-direction: column;
}

#characters h3 {
  align-self: baseline;
  padding-left: 2.8rem;
}

.story #characters div {
  flex: none;
}

.swiper {
  width: 80vw;
}

.swiper-wrapper {
  width: unset !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  padding-bottom: 4rem;
  text-align: center;
}

.story, #studio, #colophon {
  animation: fadeUp 2s;
}

.story h2::after,
.story__article::after,
#studio h2::before, #studio h2::after,
.site-footer::after, .site-footer::before, .site-footer ul::after {
  animation: rotateFlower 23s linear infinite;
}

.story__article::after {
  transform-origin: 50% 50%;
}

.story h2::after {
  transform-origin: 77px 77px;
}

#studio h2::before {
  transform-origin: 101px 99px;
}

.site-footer::after {
  transform-origin: 86px 84px;
}

#studio h2::after {
  transform-origin: 54px 54px;
}

.fadeTitle [class*=hidden-] {
  opacity: 0;
  transform: translateY(30px);
}

[class*=hidden-] {
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}

.hidden-2 {
  transition-delay: 0.2s;
}

.oscars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 20rem;
  width: 96.6rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 48vh;
}

.oscars h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 4.2rem;
  letter-spacing: -0.084rem;
  line-height: 5.2rem;
  color: #fff5e9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  background-image: url("../images/orange_bg.png");
  padding: 5.6rem 6.5rem;
  padding-left: 5.5rem;
  background-size: cover !important;
}

.leftImg {
  width: 23.8rem;
  height: 12.9rem;
}

#colophon {
  display: flex;
  flex-direction: column;
}

.site-footer::after {
  top: 0;
}/*# sourceMappingURL=theme.css.map */